[submodule "lua/vendor/etlua"]
	path = lua/vendor/etlua
	url = https://github.com/leafo/etlua.git
[submodule "apps/adventure-arena/zilscript"]
	path = apps/adventure-arena/zilscript
	url = https://github.com/corepunch/zilscript.git
