[submodule "lua/vendor/etlua"]
	path = lua/vendor/etlua
	url = https://github.com/leafo/etlua.git
[submodule "External/zilscript"]
	path = External/zilscript
	url = https://github.com/corepunch/zilscript.git
