<App name="Translator" startup="translate" background="secondaryBackground">
	<Toolbar>
		<ToolbarItem id="copy" label="Copy Translation" icon="doc.on.doc" placement="topBarLeading" action="copy" validate="hasTranslation" />
		<ToolbarItem id="clear" label="Clear" icon="xmark" placement="topBarTrailing" action="clear" validate="hasText" />
	</Toolbar>
	<Page id="translate" title="Translate" navigationTitle="English → Russian" navigationSubtitle="Translates as you type" icon="character.bubble" color="systemBlue" key="1" />
</App>
